<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/recibo.css">
    <title>Recibo - Divinos Sabores</title>
</head>

<body>
    <div class="container">
        <div class="tab"></div>
        <div class="receipt">
            <div class="paper">
                <div class="title">Meu Consumo</div><br>
                <div class="date" id="pedido_date"></div>

                <table>
                    <tbody id="lista_recibo">
                    </tbody>
                </table>
            </div>
            <script src="/static/js/recibo.js"></script>
        </div>
    </div>
</body>

</html>